.root {
    --max-height: 500px;
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: var(--border-1);
    height: var(--tab-height);
    display: flex;
    align-items: center;
    color: #fff;
}

.triangle {
    margin-left: 22px;
    margin-right: 11px;
    cursor: pointer;
}

.button {
    position: relative;
    z-index: 10;
    background-color: var(--dark);
    border: none;
}

.info {
    height: 0;
    overflow: hidden;
}

.open .info {
    height: auto;
    border-bottom: var(--border-1);
}

.open .triangle {
    transform: rotate(180deg);
}
