.root {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    height: 56px;
    border-bottom: var(--border-1);
    background-color: var(--dark);
}

.nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 22px;
    padding-right: 154px;
    border-right: var(--border-1);
    white-space: nowrap;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    padding-right: 23px;
    padding-left: 24px;

    border-left: var(--border-1);
}

.contacts a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1200px) {
    .nickname {
        padding: 0 5%;
    }
}

@media screen and (max-width: 920px) {
    .nickname {
        display: none;
    }
}