.root {
    margin-top: 180px;
    margin-bottom: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-right: 9.5%;
}

.hi {
    font-size: 1.125em;
    line-height: 133.333%;
    color: #E5E9F0;
}

.name {
    font-size: 3.875em;
    line-height: 130%;
    color: #E5E9F0;
    white-space: nowrap;
}

.who {
    font-size: 2em;
    line-height: 131.25%;
    color: var(--blue);
}

.code {
    margin-top: 81px;
}

.game {
    flex-grow: 1;
    max-width: 510px;
    min-height: 475px;

    background-color: var(--gray-1);
}

@media screen and (max-width: 1300px){
    .text {
        margin: 0 30px 20px;
        width: 100%;
    }
    .root {
        flex-wrap: wrap;
    }

    .game {
        width: 600px;
    }
}

@media screen and (max-width: 700px) {
    .text {
        font-size: max(12px, 3vw);
    }

    .code {
        margin-top: 32px;
    }
}