.root {
    flex-grow: 1;
}

.list {
    display: flex;
    list-style: none;
}

.link {
    padding: 17px 31px 17px 32px;
    border-right: var(--border-1);
    color: inherit;
    text-decoration: none;
}

.list li:last-child {
    margin-left: auto;
}

.list li:last-child a {
    border-right: none;
    border-left: var(--border-1);
}

.active {
    color: #fff;
    border-bottom: 3px solid orange;
}
