.root {
    flex-grow: 1;
    display: flex;
}

.formColumn {
    width: 60%;
    border-right: var(--border-1);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 372px;
}

.codeColumn {
    flex-grow: 1;
    padding: 24px;
}

.submitButton {
    background: #1C2B3A;
    border-radius: 8px;
    padding: 10px 14px;

    border: none;
    color: #fff;
}

.textField {
    margin-bottom: 24px;
}
