.root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.firstColumn {
    width: 292px;
    border-right: var(--border-1);
}

.contacts {
    padding: 22px;
    color: inherit;
}

.contacts ul {
    list-style: none;
}

.contacts li:not(:last-child) {
    margin-bottom: 9px;
}

.contacts a {
    color: inherit;
}

.contactIcon {
    margin-right: 8px;
}

.currentFile {
    margin-top: 18px;
    font-size: 18px;
    line-height: 27px;
    overflow: auto;
}

.index {
    user-select: none;
    margin-right: 24px;
}
