.root {
    display: flex;
    border-bottom: var(--border-1);
    height: 41px;
    width: 100%;
}

.header {
    border-right: var(--border-1);
    width: 292px;
    display: flex;
    align-items: center;
    color: #fff;
}

.triangle {
    margin-left: 22px;
    margin-right: 11px;
    cursor: pointer;
}

.tabs {
    flex-grow: 1;
}

.tab {
    height: 100%;
    width: 250px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 12px;
    border-right: var(--border-1);
}

.tabName {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cross {
    margin-left: auto;
    cursor: pointer;
}