.root {
    padding: 22px 0;
}

.node {
    position: relative;
    margin-left: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 25px;
}

.node:not(:first-child) {
    margin-top: 16px;
}

.nodeIcon {
    height: 100%;
    margin-right: 8px;
}

.nodeName {
    color: var(--light-gray)
}

.arrow {
    position: absolute;
    left: -21px;
}

.folderOpen .arrow {
    transform: rotate(-90deg);
}
